<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>WJoyTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WirtualJoy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>wjoy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A46958D15B58CE1003AB8FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A46960615B593A2003AB8FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A4696CD15B5953E003AB8FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32D94FC30562CBF700B6AF17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
