<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Wiimote</key>
  <dict>
    <key>Button</key>
    <dict>
      <!-- Start -->
      <key>6</key>
      <integer>9</integer>
      <!-- Select (not on a real GameCube controller) -->
      <key>7</key>
      <integer>8</integer>
      <!-- Middle (not on a real GameCube controller) -->
      <key>8</key>
      <integer>16</integer>
    </dict>
  </dict>
  <key>Classic Controller</key>
  <dict>
    <key>Button</key>
    <dict>
      <!-- A -->
      <key>0</key>
      <integer>0</integer>
      <!-- B -->
      <key>1</key>
      <integer>1</integer>
      <!-- Select (not on a real GameCube controller) -->
      <key>2</key>
      <integer>8</integer>
      <!-- Middle (not on a real GameCube controller) -->
      <key>3</key>
      <integer>16</integer>
      <!-- Start -->
      <key>4</key>
      <integer>9</integer>
      <!-- X -->
      <key>5</key>
      <integer>2</integer>
      <!-- Y -->
      <key>6</key>
      <integer>3</integer>
      <!-- Up -->
      <key>7</key>
      <integer>12</integer>
      <!-- Down -->
      <key>8</key>
      <integer>13</integer>
      <!-- Left -->
      <key>9</key>
      <integer>14</integer>
      <!-- Right -->
      <key>10</key>
      <integer>15</integer>
      <!-- Left Z (not on a real GameCube controller) -->
      <key>11</key>
      <integer>4</integer>
      <!-- (Right) Z -->
      <key>12</key>
      <integer>5</integer>
      <!-- L (Digital) -->
      <key>13</key>
      <integer>6</integer>
      <!-- R (Digital) -->
      <key>14</key>
      <integer>7</integer>
    </dict>
  </dict>
  <key>Wii U Pro Controller</key>
  <dict>
    <key>Button</key>
    <dict>
      <!-- Up -->
      <key>0</key>
      <integer>12</integer>
      <!-- Down -->
      <key>1</key>
      <integer>13</integer>
      <!-- Left -->
      <key>2</key>
      <integer>14</integer>
      <!-- Right -->
      <key>3</key>
      <integer>15</integer>
      <!-- A -->
      <key>4</key>
      <integer>0</integer>
      <!-- B -->
      <key>5</key>
      <integer>1</integer>
      <!-- X -->
      <key>6</key>
      <integer>2</integer>
      <!-- Y -->
      <key>7</key>
      <integer>3</integer>
      <!-- Left Z (not on a real GameCube controller) -->
      <key>8</key>
      <integer>4</integer>
      <!-- (Right) Z -->
      <key>9</key>
      <integer>5</integer>
      <!-- L (Digital) -->
      <key>10</key>
      <integer>6</integer>
      <!-- R (Digital) -->
      <key>11</key>
      <integer>7</integer>
      <!-- Left Stick (not pressable on a real GameCube controller) -->
      <key>12</key>
      <integer>10</integer>
      <!-- Right Stick (not pressable on a real GameCube controller) -->
      <key>13</key>
      <integer>11</integer>
    </dict>
  </dict>
</dict>
</plist>
